node_modules/
.env
.DS_Store
 public/images/userlogo.png
public/scripts/-bb.js
public/scripts/app-ajaxsaturday.js

public/slidedownpractice.html
slidedownpractice.html
public/styles/layout-b.css
public/scripts/app2.js

package-lock.json
public/images/userlogo.png
public/scripts/composer-char-counter-2.js
public/scripts/composer-char-counter-legacy.js