#username {
  float: left;
}

.tweettextarea {
  overflow: auto;
  width: 400px;
}

span.counter {
  text-align: right;
  float: right;
}

span.id {
  text-align: right;
  float: right;
  margin-right: 1.3em;
  
}


.titlespace {
  text-align: left;
  padding-left: 1.6em;
  padding-bottom: 0.5em;
  padding-top: 0em;
}

#titlespace2 {
  text-align: left;
  padding-left: 1.6em;
  padding-bottom: 0em;
  padding-top: 0.8em;
  opacity: 0.7;
}

.tweetheader {
  text-align: left;
  padding-left: 1.6em;
  padding-bottom: 0em;
  padding-top: 0.8em;
}

.tweetsubmit {
  float: left;
}

.buttonsbelow {
  padding-left: 1.6em;
  padding-right: 1.6em;
  width: inherit;
  text-align: left;

}

#tweetfooter {
  padding-left: 1.6em;
  padding-right: 1.6em;
  padding-bottom: 0em;
  width: 448px;
  text-align: left;
  float: left;
  border-top: 1px solid grey;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background:#fff;
  opacity: 0.7;
}

hr {
  height: 1px;
  margin-right: 1.6em;
  background-color:#666;
  border: 0 none;
  margin-top: 0.1em;
  margin-top: -1.1em;
 
  }

 .tweetresponse { 
  background-color: #fff;
  overflow-wrap: break-word;
  text-align: left;
  padding: 0.5em;
  float: left;
  width: 100%;
  min-height: 60px;
  padding-left: 1.6em;
  padding-top: 0.3em;
  padding-right: 1.6em;
 }

 img.userlogo {
   width: 4.5em;
   height: 4em;
   padding-right: 0.5em;
   float:left;
 }
 
 p.tinytype {
  font-size: 12px;
  line-height: 0.6em;
 }

 span.headerbuttons{
    float: right;
    margin-top: 1em;
    padding-right: 10px;
    color: #e8fdff;
    line-height: 2em;
    font-size: 1.2em;
    vertical-align: top;
    opacity: 0.7;
   
 }

 #composebt button{
   border: 1px solid grey;
 }

 .errordisplay {
   color: red;
   font-size: 12px;
   line-height: 0em;
   display: none;
   padding: 0em;
   margin: 0em;
 }

 .flaglikeretweet {
  float: right;
  height: 15px;
  line-height: 0.6em;
 }
 span.rightside {
   float: right;
   padding-top: 0.5em;
   opacity: 0;

 }

 span.leftside {
  float:left;

 }