#username {
  float: left;
}

.tweettextarea {
  overflow: auto;
  width: 400px;
}

span.counter {
  /*margin: 0 auto;*/
  text-align: right;
  float: right;
}

span.id {
  /*margin: 0 auto;*/
  text-align: right;
  float: right;
  margin-right: 1.3em;
  
}

.newtweet {
  /*text-align: right;*/
}

.titlespace {
  text-align: left;
  padding-left: 1.6em;
  padding-bottom: 0em;
  padding-top: 0.8em;
  /*text-decoration: underline;*/
}

#titlespace2 {
  text-align: left;
  padding-left: 1.6em;
  padding-bottom: 0em;
  padding-top: 0.8em;
  /*text-decoration: underline;*/
}

.tweetheader {
  text-align: left;
  padding-left: 1.6em;
  padding-bottom: 0em;
  padding-top: 0.8em;
  /*text-decoration: underline;*/
}

.tweetsubmit {
  float: left;
}

.buttonsbelow {
  padding-left: 1.6em;
  padding-right: 1.6em;
  width: inherit;
  text-align: left;

}

#tweetfooter {
  padding-left: 1.6em;
  padding-right: 1.6em;
  padding-bottom: 0em;
  width: inherit;
  text-align: left;
  float: left;
  border-top: 1px solid grey;

}

hr {
  height: 1px;
  margin-right: 1.6em;
  background-color:#666;
  border: 0 none;
  margin-top: 0.1em;
  margin-top: -1.1em;
 
  }

 .tweetresponse { 
  background-color: #fff;
  /*height: 50px; by not assigning a fixed height it will auto change its size flexably according to the content inside*/
  overflow-wrap: break-word;
  text-align: left;
  padding: 0.5em;
  float: left;
 }

 img.userlogo {
   width: 4.5em;
   height: 4em;
   padding-right: 0.5em;
   float:left;
 }
 
 p.tinytype {
  font-size: 12px;
  line-height: 0.6em;
 }